html,body{
  height:100%;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'ProximaNova-Regular', sans-serif;
}

br {
  margin-top: 20px;
}

small {
  font-size: x-small;
}

#parent {
    margin-left: 25%;
}

#sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20%;
    background-color: #1a1e24;
    overflow-y: auto;
}

#sidebar-content {
    padding: 0 10% 0 10%;
}

#main {
  overflow: hidden;
  width: 60%;
  display: flex;
  flex-flow: column;
  top: 0px;
  left: 20%;
  bottom: 0px;
  position: absolute;
  background-color: #252a33;
  text-align: center;
}

#logs {
    position: fixed;
    top: 0px;
    left: 80%;
    right: : 0px;
    bottom: 0px;
    width: 20%;
    background-color: #1a1e24;
    overflow-y: auto;
    overflow-x: w
    color: white;
}

#logs-content {
    padding: 0 10% 0 10%;
    color: white;
    max-width: 100%;
    word-break: break-all;
}

#arena {
	overflow: hidden;
	height: 600px;
	width: 450px;
	margin: auto;
}

#canvas{
	width: 100%;
	height: 100%;
}

#timer{
  color: white;
}

#area{
  color: white;
}

.headings{
  color: #9ea2a9;
  text-align: center;
  margin: auto;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
}

button {
	background-color: #F3F3F3;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	margin: 10px 0px 10px 0px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

input[type="text"] {
	background-color: #fff;
	border-radius: 2px;
	padding: 0px 0px 0px 10px;
	width: 50%;
	height: 30px;
	margin: 0px;
	border: none;
	font-weight: bold;
}

input[type="number"] {
  background-color: #fff;
  border-radius: 2px;
  padding: 0px 0px 0px 10px;
  width: 50%;
  height: 30px;
  margin: 0px;
  border: none;
  font-weight: bold;
}

input[type="time"] {
  background-color: #fff;
  border-radius: 2px;
  padding: 0px 0px 0px 10px;
  width: 50%;
  height: 30px;
  margin: 0px;
  border: none;
  font-weight: bold;
}

input[type="submit"]{
	background-color: #428BCA;
	border-radius: 5px;
	margin: 0px;
	margin-bottom: 10px;
	width: 40%;
	height: 25px;
	border: none;
	color: #fff;
	cursor: pointer;
}

#logs::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

#logs::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#logs::-webkit-scrollbar-thumb
{
  background-color: #455062;
}