<!DOCTYPE html>
<html>
<head>
	<title>MDP Group 26</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/font.css">
</head>
<body>
	<div id='parent'>
		<div id='sidebar'>
			<div id="sidebar-heading" class="headings"><h3>MDP GROUP 26</h3></div>
			<div id=sidebar-content>
				<button id="mapName">Load Map</button>
				<div id="mapname" style="display: none">
					<form>
					  <p class="headings" style="text-align: left;">Name</p>
					  <input type="text" name="name" value='map.txt' id='map-name'>
					  <br><br>
					  <input id="loadMap" type="submit" value="Submit">
					</form> 
				</div>
				<button id="start">Exploration</button>
				<div id="explore" style="display: none;">
					<form>
					  <p class="headings" style="text-align: left;">TIME STEP</p>
					  <input type="text" name="t_s" value='0.1' id='time_step'>
					  <br>
					  <p class="headings" style="text-align: left;">TIME LIMIT</p>
					  <input type="time" name="time_limit" value="00:00:30" step="1" id='time'>
					  <br>
					  <p class="headings" style="text-align: left;">COVERAGE LIMIT</p>
					  <input type="number" name="cover" value='100' id='percentage' min='0' max='100'>
					  <br><br>
					  <input id="exp_start" type="submit" value="Submit">
					</form> 
				</div>
				<button id='waypoint'>Fastest Path</button>
				<div id="way-point" style="display: none">
					<p class="headings" style="text-align: left;">ENTER WAYPOINT:</p>
					<form>
					  <p class="headings" style="text-align: left;">X</p>
					  <input type="text" name="x" value=10 id='way-x'>
					  <br>
					  <p class="headings" style="text-align: left;">Y</p>
					  <input type="text" name="y" value=10 id='way-y'>
					  <br><br>
					  <input id="fsp" type="submit" value="Submit">
					</form> 
				</div>
				<button id="reset">Reset</button>
				<p class="headings" style="text-align: left;">TIMER<p id="timer"></p></p>
				<p class="headings" style="text-align: left;">EXPLORED<p id="area"></p></p>
			</div>
		</div>
		<div id='main'>
			<div id='arena'>
				<canvas id="canvas" width="450" height="600">
					
				</canvas>
				
			</div>
		</div>
		<div id='logs'>
			<div id="logs-heading" class="headings"><h3>LOGS</h3></div>
			<div id="logs-content">
			</div>
		</div>

	</div>

	
	<script type="text/javascript" src="static/custom.js"></script>
</body>
</html>